extends layout.jade

block content
  style(type='text/css').
        .btn-primary {
             margin-top:10%;
         }
         .btn-success{
           margin-top:10%;
         }
  include ./partials/header.jade
  .container#main_video_container
    iframe(width='100%', height='100%', src='https://www.youtube.com/embed/AQkbbtDoPq0?autoplay=1&mute=1&start=10', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')#myVideo

  .container(style="margin-top: 10%;")
    .row
      .col-md-4.offset-md-8(style="background: rgba(0, 0, 0, 0.5);color: #f1f1f1;width: 100%; padding:20px")
        h1.heading Welcome to Sport Camp
        p A social media plaform for sport ethuaist
        .row
          .col-md-12
            .form-group
            form(action="/login",method="POST")
              label usernames:
              input(type="text", name="username", placeholder="username").form-control
              label password:
              input(type="password", name="password", placeholder="password").form-control
              .d-flex.flex-row.justify-content-between
                div
                  input(type="submit", name="submit",value="submit").btn.btn-primary
                div
                  a(href ="/register").btn.btn-success register
        
