extends ../layout.jade

block content
  script(type='text/javascript')
    var slider = document.getElementById("myRange");
    var output = document.getElementById("output");
    output.innerText = slider.value;
    slider.onchange = ()=>output.innerText = this.value
  .container
    .row
      .col-md-8.offset-md-2
        h2 Edit #{sport.name}
        .form-group
          form(name="editSport" action="/sports/#{sport._id}?_method=PUT" method= "POST")
            label name
            input(name= "sport[name]",type = "text" value= sport.name).form-control
            label image
            input(name= "sport[image]",type="text" value= sport.image).form-control
            label#output
            .range-field.w-75
              input(name= "sport[rating]", type="range", value= sport.rating, step=1, min="0", max="10").form-control#myRange
            label description
            input(name= "sport[description]", type="text" value= sport.description).form-control
            input(name="submit", type="submit", value="submit").btn.btn-primary
