body {
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  height: 100%;
  width:100%;
}
div{
  padding:0;
}
.jumbotron > .thumbnail{
  height:100%;
  width:100%;
}
.btn-primary .btn-danger{
  margin-top:5px;
  display:inline-block;
  width:100%;
}
.jumbotron{
  text-align: left;
}
.nav {
  top:0;
  position: fixed;
  width:60%;

}
.container{
  margin-top:5%;
}
#myVideo {
  position: fixed;
  z-index: -1;
  top:56px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#main_video_container{
  padding:0;
}
/* Add some content at the bottom of the video/page */
#content {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 30%;
  padding: 20px;
}
#floatright{
  float:right;
}
