extends ../layout.jade

block content
  include ../partials/header.jade
  
  .container
    .row
      .col-md-6.offset-md-3
        h2 Edit Comment
        .form-group
          form(name="createNewComment" action="/sports/#{sports_id}/comments/#{comment_id}/replies/#{reply._id}?_method=PUT" method = "POST")
            label Comment Edit Form:
            input(name="reply[text]", value="#{reply.text}").form-control
            input(name="submit", type="submit", value="submit").btn.btn-primary
    
